.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.thing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item-container {
  border: 3px solid black;
}
